In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('fortune500.csv')
df.sort_values(by='kurtosis', ascending=False, inplace=True)
df

     Unnamed: 0 tickers    kurtosis              stock_full_names
220         220      GL  147.659830               Globe Life Inc.
65           65    BIIB   90.145753                   Biogen Inc.
212         212     GEN   72.754401              Gen Digital Inc.
272         272     KDP   49.388411         Keurig Dr Pepper Inc.
436         436    TRGP   45.808695         Targa Resources Corp.
..          ...     ...         ...                           ...
6             6     AMD    2.078543  Advanced Micro Devices, Inc.
11           11    ABNB    1.624378                  Airbnb, Inc.
211         211     GEV    1.387461               GE Vernova Inc.
467         467    VLTO    0.523211           Veralto Corporation
419         419    SOLV   -0.193503         Solventum Corporation

[501 rows x 4 columns]

In [5]:
df[:10]

     Unnamed: 0 tickers    kurtosis                 stock_full_names
220         220      GL  147.659830                  Globe Life Inc.
65           65    BIIB   90.145753                      Biogen Inc.
212         212     GEN   72.754401                 Gen Digital Inc.
272         272     KDP   49.388411            Keurig Dr Pepper Inc.
436         436    TRGP   45.808695            Targa Resources Corp.
395         395     REG   41.330533      Regency Centers Corporation
394         394       O   38.259353        Realty Income Corporation
192         192     FRT   37.168093  Federal Realty Investment Trust
497         497     YUM   35.978629                Yum! Brands, Inc.
355         355     OKE   35.261046                      ONEOK, Inc.